<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ETIC_Chat</title>
  {% load static%}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'main.js' %}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" href="{% static 'cropped-fave-32x32.png' %}" type="image/x-icon">
</head>

<body>
  <div id="navbar"> 
    <a class="logo" href="/chatting"><h1>Groupy</h1></a>
    {% block 'nav' %}
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">logout</button>
        </form>
      {% else %}
        <a href="{% url 'signup' %}" style="padding-bottom: 50px;">signup</a>
        <a href="{% url 'login' %}" style="padding-bottom: 50px;">login</a>
      {% endif %}
  </div>
  {% endblock %}
  {% block 'content' %} {% endblock %}
</body>

</html>
